:root {
  --cor1: #eff9f2;

  --cor2: #93d7ee;
  
  --cor3: #2a38c3;
}

body{
  background-color: var(--cor1);
}


.login-container {
  display: flex;
  height: 30vh;
  justify-content: center;
  position: relative;
  transform: translate(55%, 30vh);
  width: 40vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  margin-top: 25px;
  margin-bottom: 5px;
}

.login-form button {
  border: black solid 2px;
  border-radius: 16px;
  cursor: pointer;
  height: 30px;
  margin-top: 20px;
  width: 100px;
}

.login-btn-1 {
  background-color: var(--cor2);
}

.login-btn-2 {
  background-color: var(--cor3);
}

.black {
  color: black;
}

.white {
  color: #eee;
}
